<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>405592072994-22ajvm9l2qrssar58qrhuqtu6gcmpbmq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.405592072994-22ajvm9l2qrssar58qrhuqtu6gcmpbmq</string>
	<key>API_KEY</key>
	<string>AIzaSyA5_gUPGEfK_Foz3-XTOkXZZoJiZKNours</string>
	<key>GCM_SENDER_ID</key>
	<string>405592072994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chattingApp</string>
	<key>PROJECT_ID</key>
	<string>chating-app-f9d18</string>
	<key>STORAGE_BUCKET</key>
	<string>chating-app-f9d18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405592072994:ios:42955dc28fc3fb80a77b7b</string>
</dict>
</plist>